body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

.row{

    background-color: rgb(219, 226, 226);
    border-radius: 30px;
}

img{

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
 
    
}

.btn1{


    border:none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: #04aa6d;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    
}
.btn1:hover{


    background-color: white;
    border:1px solid;
    color: black;
}